body {
  font-family: 'Arial', sans-serif;
}

#banner {
  margin-top: 60px;
}

#destaques {
  margin-top: 50px;
}

.card-body {
  text-align: center;
}

footer {
  background-color: #222;
  color: #fff;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}
